/*.log
/target
/*-init.clj
/resources/public/cljs-out
/node_modules
/.shadow-cljs
out
/deploy/kubernetes/app-server.yaml
/deploy/kubernetes/peer.yaml
/deploy/kubernetes/transactor.yaml
/deploy/kubernetes/status-cronjob.yaml
/deploy/transactor/config/transactor.properties
/resources/credentials/dev-transactor.properties
/package/rawsugar-standalone.jar
/doc/*.html
version
.vscode
.lein-env
.nrepl-port
rawsugar.iml
.idea
.lein-repl-history
.lein-failures
.rawsugar-creds
.circleci/local-cli/
*#
